onnxruntime==1.24.3
fastapi==0.135.1
uvicorn==0.41.0
pydantic==2.12.5
pydantic_settings==2.13.1
pylint==4.0.5
python-dotenv==1.2.2
numpy==2.4.3
SQLAlchemy==2.0.48
bcrypt==5.0.0
python-jose==3.5.0
dnspython==2.8.0
email-validator==2.3.0
